@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-textfont {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.btn-lm {
    font-family: "Azeret Mono", monospace;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 1);
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
    height: 47px;
    margin-top: 32px;
}










header nav p {
    font-size: 28px;
    font-weight: 900;
    color: #0D1321;
}

header nav button {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    border: solid #0D1321 1px;
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
    font-family: "Azeret Mono", monospace;
    height: 57px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 150px;
}


header .hero {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .hero h1 {
    font-weight: 900;
    font-size: 48px;
    color: #0D1321;
    width: 998px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

header .hero p {
    font-size: 16px;
    color: #0D1321;
    opacity: 0.7;
    width: 998px;
    text-align: center;
    margin-bottom: 32px;
}

header .hero button {

    color: white;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 21px 24px;
    font-family: "Azeret Mono";
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
}






#whydev {
    padding: 80px 96px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1140px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 90px;
}

#whydev .container h1 {
    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-style: ExtraBold;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

#whydev .container>p {
    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    Opacity: 0.7;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}

#whydev .container .content-box {

    width: 946px;
    margin: 0 auto;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

    display: flex;
    justify-content: space-between;
}

#whydev .container .content-box-rev {

    width: 946px;
    margin: 0 auto;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

    display: flex;
    /* justify-content: space-between; */
    gap: 32px;
}

#whydev .container .content-box .title {
    color: rgba(13, 19, 33);
    font-family: "Azeret Mono";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

#whydev .container .content-box-rev .title {
    color: rgba(13, 19, 33);
    font-family: "Azeret Mono";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

#whydev .container .content-box .subtitle {

    color: #0D1321;
    opacity: 0.7;
    text-align: left;
}

#whydev .container .content-box-rev .subtitle {

    color: #0D1321;
    opacity: 0.7;
    text-align: left;
}

#whydev .container .content-box .content {

    width: 477px;

}

#whydev .container .content-box-rev .content {

    width: 477px;
}






#inspir .title {

    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-style: ExtraBold;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

#inspir .subtitle {

    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    Opacity: 0.7;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;

}

#inspir .vdo {

    width: 1140px;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;


}

#inspir .vdo iframe {

    border-radius: 16px;

}






#target {

    margin-top: 151px;
    margin-bottom: 111px;

}

#target .title {

    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-style: ExtraBold;
    font-size: 32px;
    font-weight: 800;
    text-align: center;

}

#target .subtitle {

    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    Opacity: 0.7;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}

#target .target-container .target-content {

    width: 364px;
    padding: 40px;
    border-radius: 16px;
}

#target .target-container .target-content h2 {

    color: rgba(13, 19, 33, 1);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 8px;

}

#target .target-container .target-content p {

    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    Opacity: 0.7;
    margin-bottom: 24px;
}

#target .target-container .target-content a {

    font-weight: bold;
    color: rgba(13, 19, 33, 1);
}

#target .target-container {

    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 24px;

}